<ul class="nav">
    <li class="nav-item">
        <a href="{% url 'main' %}" class="nav-link">на сайт</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'admin:users' %}" class="nav-link {% if request.resolver_match.url_name == 'users' %}active{% endif %}">
            пользователи
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'admin:categories' %}"
           class="nav-link {% if request.resolver_match.url_name == 'categories' or category.name %}active{% endif %}">
            категории {% if category %}:<span>{{ category.name }}</span>{% endif %}
        </a>
    </li>
</ul>