<ul class="navbar-nav mr-auto">
    <li class="nav-item {% if request.resolver_match.url_name == 'main' %}active{% endif %}">
        <a class="nav-link" href="{% url 'main' %}">
            домой <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item {% if request.resolver_match.url_name == 'products' %}active{% endif %}">

        <a href="{% url 'products:products' %}"
           class="nav-link">
            продукты
        </a>
    </li>
    <li class="nav-item {% if request.resolver_match.url_name == 'contact' %}active{% endif %}">

        <a href="{% url 'contact' %}"
           class="nav-link">
            контакты
        </a>
    </li>
    {% if user.is_authenticated %}
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user.first_name|default:'Пользователь' }}
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'auth:edit' %}">Профиль</a>
                <a class="dropdown-item" href="#">Заказы</a>
            </div>
        </li>
        {% if user.is_superuser %}
            <li class="nav-item">
                <a href="{% url 'admin:users' %}" class="nav-link">админка</a>
            </li>
        {% endif %}
        <li class="nav-item"><a href="{% url 'auth:logout' %}" class="nav-link">выход</a></li>
    {% else %}
        <li class="nav-item"><a href="{% url 'auth:login' %}" class="nav-link">вход</a></li>
    {% endif %}
</ul>