{% extends 'authapp/base.html' %}

{% load static %}

{% block menu %}
    <div class="hero-white">
        <div class="header clearfix">
            <a href="/" class="logo"></a>
            {% include 'mainapp/includes/inc_main_menu.html' %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
            <h1>
                {{ title|title }}
            </h1>
            <br>
            <form class="form-group" action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ edit_form.as_p }}
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <a class="btn btn-link" href="{% url 'main' %}">на главную</a>
        </div>
        <div class="user_avatar"><img src="/media/{{ user.avatar }}"></div>
        <div class="col-sm">

        </div>
    </div>
{% endblock %}