{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}
    <div class="text-center my_form">
        {% if user.avatar %}
            <div class="user_avatar"><img src="/media/{{ user.avatar }}"></div>
        {% endif %}
        <form class="form-signin" action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data">
            <h1 class="h3 mb-3 font-weight-normal">{{ title|title }}</h1>
            {% csrf_token %}
            {{ edit_form.as_p }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Сохранить</button>
            <a class="btn btn-link" href="{% url 'main' %}">на главную</a>
        </form>
    </div>
{% endblock %}