{% extends 'adminapp/base.html' %}
{% load static %}
{% load my_tags %}

{% block content %}
    <div>
        <button class="">
            <a href="{% url 'admin:user_create' %}">новый пользователь</a>
        </button>

        {% for object in object_list %}
            <div class="{% if not object.is_active %}not_active{% endif %}">
                <img src="{{ object.avatar|media_folder_users }}" alt="{{ object.username }}">
                <div>
                    {% if object.is_superuser %}администратор{% else %}пользователь{% endif %}
                    <button>
                        <a href="{% url 'admin:user_update' object.pk %}">редактировать</a>
                    </button>
                    <button>
                        <a href="{% url 'admin:user_delete' object.pk %}">удалить</a>
                    </button>
                </div>
                <div>
                    <p>
                        <strong>{{ object.username }}</strong>
                    </p>
                    <p>
                        {% if object.first_name %}
                            <b>{{ object.first_name|title }}</b>
                            {% if object.last_name %}
                                <p>{{ object.last_name|title }}</p>
                            {% endif %}
                        {% endif %}
                    </p>
                </div>
                <div>
                    age: {{ object.age }} лет
                </div>
                <div>
                    email: {{ object.email }}
                </div>
                <div>
                    logged: {{ object.last_login }}
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}